{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

      <div class="row">
        <div class="col-md-12">
          <h2><strong>{{ albumes.0.artista }}</strong> / Albumes</h2>
          <ul>
          	{% for album in albumes %}
          	<li><a href="{% url 'tracks_por_album' album.id %}">{{album.nombre}}</a></li>
          	{% empty %}
            <p>No hay albumes para el artista {{ albumes.0.artista }}</p>
          	{% endfor %}
          </ul>
        </div>
      </div>


{% endblock content %}